@charset 'utf-8';

::-webkit-input-placeholder {
    color: #fff;
}
::-webkit-input-placeholder:focus {
    color:rgba(0,0,0,0.8);
}

html {
    margin:0;
    padding:0;
}

body {
    margin:inherit;
}

ul {
    list-style:none;
    padding:0;
}
h1 {
    font-size:36px;
}
a {
    color:white;
    text-decoration:none;
}

input {
    background:rgba(0,0,0,0.2);
    outline:none;
    border:2px solid #fff;
    border-radius:3px 3px;
    padding:10px 5px;
    font-size:18px;
    font-weight:300;
    color: black;
    display:block;
    margin:30px 0 30px 50px;
}
button {
    color: black;
}
input:focus {
    background:#fff;
    transition:all 0.2s linear;
}

main {
    background:url('../images/underwater.jpg') center center no-repeat;
    background-size:cover;
    height:100vh;
    width:100vw;
    position:relative;
    overflow:hidden;
}
.background {
    opacity:0.3;
    background:url('../images/speckle.png') center center repeat;
    height:100vh;
    width:100vw;
    position:absolute;
    z-index:0;
}

aside {
    position:absolute;
    text-align:center;
    width:15%;
    max-width:250px;
    background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0) 65%);
    margin-left:150px;
    padding:45px 0;
    height:90vh;
}

footer {
    position:absolute;
    bottom:50px;
    text-align:center;
    width:100%;
    color:#fff;
    font-weight:200;
    font-size:12px;
}

.bootstrap-overwrite {
    color:#fff;
    font:400 150% 'Open Sans', Sans-Serif;
    line-height:56px;
    background:none;
    text-decoration:none;
}

.bootstrap-overwrite li:hover {
    background:rgba(0,0,0,0.3);
    transition:all 0.15s linear;
}

object {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:21.35%;
    padding:0;
    margin:0;
    width:auto;
    height:100vh;
    overflow:scroll;
    padding-top:25%;
}

section {
    padding:0 13% 0 13%;
    text-align:right;
    font-size:1.35em;
    font-weight:100;
    line-height:2em;
    text-shadow:1px 2px 4px rgba(0,0,0,0.3);

    height:100vh;
    color:#fff;
}
section a {
    text-decoration:underline;
}
section img {
    float:right;
    padding:0 0 10px 30px;
}

#dive h1, #dive h3 {
    text-align:left;
    padding-left:5%;
}
#diveGraph {
    position:absolute;
    top:-500px;
}
.joined {
    float:left;
    margin-left:5%;
}
#spacer{
	margin-top: 500px;
}